CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_bdy_g98=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_PARTSIZE=104
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_USE_APK=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_istoreos-files=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_DEFAULT_luci-app-store=y
